# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# Quartus compilation databases
*.qws

half-baked/core_v1/test/db/*
half-baked/core_v1/test/incremental_db/*
half-baked/core_v1/test/output_files/*
half-baked/core_v1/test_c6/db/*
half-baked/core_v1/test_c6/incremental_db/*
half-baked/core_v1/test_c6/output_files/*

half-baked/core_v3/prj/db/*
half-baked/core_v3/prj/incremental_db/*
half-baked/core_v3/prj/output_files/*
half-baked/core_v3/test/db/*
half-baked/core_v3/test/incremental_db/*
half-baked/core_v3/test/output_files/*
half-baked/core_v3/test_c6/db/*
half-baked/core_v3/test_c6/incremental_db/*
half-baked/core_v3/test_c6/output_files/*

half-baked/core_v4/prj/db/*
half-baked/core_v4/prj/incremental_db/*
half-baked/core_v4/prj/output_files/*
half-baked/core_v4/test/db/*
half-baked/core_v4/test/incremental_db/*
half-baked/core_v4/test/output_files/*
half-baked/core_v4/test_c6/db/*
half-baked/core_v4/test_c6/incremental_db/*
half-baked/core_v4/test_c6/output_files/*


half-baked/core_v5/prj/db/*
half-baked/core_v5/prj/incremental_db/*
half-baked/core_v5/prj/output_files/*
half-baked/core_v5/test/db/*
half-baked/core_v5/test/incremental_db/*
half-baked/core_v5/test/output_files/*
half-baked/core_v5/test_c6/db/*
half-baked/core_v5/test_c6/incremental_db/*
half-baked/core_v5/test_c6/output_files/*


half-baked/core_v6/prj/db/*
half-baked/core_v6/prj/incremental_db/*
half-baked/core_v6/prj/output_files/*
half-baked/core_v6/test/db/*
half-baked/core_v6/test/incremental_db/*
half-baked/core_v6/test/output_files/*
half-baked/core_v6/test_c6/db/*
half-baked/core_v6/test_c6/incremental_db/*
half-baked/core_v6/test_c6/output_files/*


half-baked/core_v7/prj/db/*
half-baked/core_v7/prj/incremental_db/*
half-baked/core_v7/prj/output_files/*
half-baked/core_v7/test/db/*
half-baked/core_v7/test/incremental_db/*
half-baked/core_v7/test/output_files/*
half-baked/core_v7/test_c6/db/*
half-baked/core_v7/test_c6/incremental_db/*
half-baked/core_v7/test_c6/output_files/*


half-baked/core_v8/prj/db/*
half-baked/core_v8/prj/incremental_db/*
half-baked/core_v8/prj/output_files/*
half-baked/core_v8/test/db/*
half-baked/core_v8/test/incremental_db/*
half-baked/core_v8/test/output_files/*
half-baked/core_v8/test_c6/db/*
half-baked/core_v8/test_c6/incremental_db/*
half-baked/core_v8/test_c6/output_files/*

half-baked/core_v9/prj/db/*
half-baked/core_v9/prj/incremental_db/*
half-baked/core_v9/prj/output_files/*
half-baked/core_v9/test_c8/db/*
half-baked/core_v9/test_c8/incremental_db/*
half-baked/core_v9/test_c8/output_files/*
half-baked/core_v9/test_c6/db/*
half-baked/core_v9/test_c6/incremental_db/*
half-baked/core_v9/test_c6/output_files/*

half-baked/freq_tests/*
half-baked/n2alu_16b/*

half-baked/n2decode/db/*
half-baked/n2decode/incremental_db/*
half-baked/n2decode/output_files/*

half-baked/n2shift_align_16b/prj/db/*
half-baked/n2shift_align_16b/prj/incremental_db/*
half-baked/n2shift_align_16b/prj/output_files/*

half-baked/n2shifter_fast2/db/*
half-baked/n2shifter_fast2/incremental_db/*
half-baked/n2shifter_fast2/output_files/*

half-baked/nios2e_reference/db/*
half-baked/nios2e_reference/incremental_db/*
half-baked/nios2e_reference/output_files/*
half-baked/nios2e_reference/nios2e_reference/*

half-baked/test_top/nios2ee_peripherals/*

junk/*